<!doctype html>

<html lang="en">
<head>

	<meta charset="utf-8" />
	<!-- <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="../assets/img/favicon.png"> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Details</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!-- Canonical SEO -->
	<link rel="canonical" href="http://www.creative-tim.com/product/material-kit-pro" />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
	{% load static %}

    <link href="{% static 'material/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'material/css/material.css' %}" rel="stylesheet"/>
</head>

<body class="login-page">
		<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="http://effe.org.in">Effervescence</a>
					</div>
		
					<div class="collpase navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="{% url 'user_login' %}">
									<i class="material-icons">apps</i>Login
								</a>
							</li>
		
						</ul>
					</div>
				</div>
			</nav>

	<div class="page-header header-filter" style="background-image: url({% static 'login/css/background3.jpg' %}); background-size: cover; background-position: top center;">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
					<div class="card card-signup" style="position: relative; top:-50px">
						<h2 style="text-align:center; color:rgba(100, 100, 100, 0.8)">User Details</h2>
						<form class="form" method="" action="login-page.html">

							<div class="card-content">

								<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">face</i>
									</span>
									<input type="text" class="form-control" id="username" disabled="disabled">
								</div>

								<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">face</i>
									</span>
									<input type="text" class="form-control" placeholder="Name..." id="name">
								</div>

								<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">
											school
											</i>
									</span>
									<input type="text" placeholder="College..." class="form-control" id="college"/>
                </div>
                
                <div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">phone</i>
									</span>
									<input type="text" placeholder="Phone..." class="form-control" id="phone"/>
                </div>
                
                <div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">person</i>
									</span>
									<div class="col-xs-12">
									<select class="selectpicker" data-style="form-control" data-size="7" id="gender">
										<option id= "M" value="M">Male </option>
										<option id = 'F' value="F">Female</option>
										<option id = 'O' value="O">Other</option>
									</select>
									</div>
                </div>
                
                <div class="input-group" data-provide = 'datepicker'>
										<span class="input-group-addon">
											<i class="material-icons">calendar_today</i>
										</span>
										<input type="text" placeholder="Birthday..." class="form-control" id="birthday"/>
									</div>

									<div class="input-group">
											<span class="input-group-addon">
												<i class="material-icons">perm_identity</i>
											</span>
											<input type="text" placeholder="Facebook ID - www.facebook.com/..." class="form-control" id="fb-id"/>
										</div>
									</div>

							<div class="footer text-center">
								<div class="btn btn-primary btn-simple btn-wd btn-lg login_form">Save</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer" style="position:absolute; bottom:0%; width: 100vw;">
			<div class="container">

				<div class="copyright col-md-12" style="text-align:center">
					&copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="https://effe.org.in" target="_blank">Effervescence</a>
				</div>
			</div>
		</footer>

	</div>


	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.9/dist/sweetalert2.all.min.js"></script>
	<script>
		$( function() {
			$( "#birthday" ).datepicker({
				defaultDate: -7514,
				changeYear: true,
				changeMonth: true
			});
		} );
		$.datepicker.formatDate('yy-mm-dd');
		</script>
	
  <script>

    var token = localStorage.getItem("token");
    if(token == null){
      token = '';
    }
    $.ajax({
      url : "/user_detail/",
      type : 'get',
      beforeSend : function(request){
        request.setRequestHeader("Authorization",
          "Token " + token);
      },
      
      dataType : 'json',
      success: function(data){
        var username = data['username'];
        $('#username').val(username);
      },
      error: function(MLHttpRequest, textStatus, errorThrown){
        alert("Please log in again!");
        window.location.href = "/user_login/";
      },
    });
  
  
    $(".login_form").on("click", function(e) {
      var name = $("#name").val();
      var college = $("#college").val();
      var phone = $('#phone').val();
      var gender = $('#gender').val();
      var birthday = $("#birthday").datepicker("option", "dateFormat", "yy-mm-dd" ).val();
			var fb_id = $("#fb-id").val();
  
      $.ajax({
        url : "/api/regular_user/",
        type : 'post',
        beforeSend : function(request){
          request.setRequestHeader("Authorization",
            "Token " + token);
        },
        data : {
          "name": name, 
          "college": college, 
          "phone" : phone,
          "gender" : gender,
          "birthday" : birthday,
					"fb_id":fb_id
        },
        dataType : 'json',
        success: function(data){
          window.location.href = "/ca/";
        },
        error: function(MLHttpRequest, textStatus, errorThrown){
          if(phone.length != 10){
						alert("Enter valid phone number");
					}
					else{
						for(key in MLHttpRequest.responseJSON){
							if(String(MLHttpRequest.responseJSON[key]) == "This value does not match the required pattern."){
								swal("Please enter correct FB link");
							}
							else{
								swal(String(MLHttpRequest.responseJSON[key]));
							}
						}
					}
					window.location.href = "/set_user_details/";
        }
      });
    });
  
    
  </script>

</body>
	<!--   Core JS Files   -->
	{% load static %}

	
	<script src="{% static 'material/js/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'material/js/material.min.js' %}"></script>
	<!--    Plugin for Date Time Picker and Full Calendar Plugin   -->
	<script src="{% static 'material/js/moment.min.js' %}"></script>

	<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/   -->
	<script src="{% static 'material/js/nouislider.min.js' %}" type="text/javascript"></script>

	<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker   -->
	<script src="{% static 'material/js/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>

	<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select   -->
	<script src="{% static 'material/js/bootstrap-selectpicker.js' %}" type="text/javascript"></script>

	<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/   -->
	<script src="{% static 'material/js/bootstrap-tagsinput.js' %}"></script>

	<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput   -->
	<script src="{% static 'material/js/jasny-bootstrap.min.js' %}"></script>

	<!--    Plugin For Google Maps   -->
	<script  type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFPQibxeDaLIUHsC6_KqDdFaUdhrbhZ3M"></script>

	<!--    Plugin for 3D images animation effect, full documentation here: https://github.com/drewwilson/atvImg    -->
	<script src="{% static 'material/js/atv-img-animation.js' %}" type="text/javascript"></script>

	<!--    Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc    -->
	<script src="{% static 'material/js/material-kit.min.js' %}" type="text/javascript"></script>
</html>

